<div class="register-form-container">
    <h2>Register</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form (ngSubmit)="onRegister()">
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
        <input type="email" placeholder="Confirm Email" [(ngModel)]="confirmEmail" name="confirmEmail">
        <input type="text" placeholder="Name" [(ngModel)]="name" name="name">
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
        <button type="submit">Register</button>
    </form>
</div>