.login-form-container {
    background: #fff0df;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 24px;
    width: 300px;
    height: 350px;
    padding: 3rem;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form-container input {
    padding: 0.75rem;
    border: 1px solid #999999;
    border-radius: 8px;
}

.login-form-container button {
    padding: 0.50rem;
    border: 1px solid #999999;
    border-radius: 8px;
    background: #ffa666;
    font-size: 1.25rem;
    font-weight: bold;
}

.login-title {
    font-size: 2rem;
}