<div class="login-form-container">
    <h2 class="login-title">Login</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form (ngSubmit)="onLogin()">
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
        <button type="submit" [disabled]="isLoading">Login</button>
    </form>
    <p>
    Don't have an account? Click <a href="/register">here</a> to register.
    </p>
</div>