/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #c07b49, #e9a76c, #ffe6b8);
    background-attachment: fixed;
}